.header-menu{
    width: 330px;
    height: 100%;
    background-color: var(--white);
    top: 0;
    right: 0;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    overflow: auto;
    scrollbar-width: none;
    position: fixed;
    z-index: 1;
    padding: 20px;
    animation: slideInLeft linear .3s;
}

@keyframes slideInLeft {
    from {
        transform: translateX(100%);
    }
}

/* .header-menu__slide {
    animation: slideInRight linear .2s !important;
}

@keyframes slideInRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
} */

.header-menu::-webkit-scrollbar {
    display: none;
}

.header-menu__close {
    position: absolute;
    right: 35px;
    top: 10px;
    z-index: inherit;
}

.header-menu__close-icon {
    position: fixed;
    font-size: 30px;
    color: var(--gray);
    border: none;
    cursor: pointer;
}

.header-menu__grid {
}

.header-menu__text {
    color: var(--gray);
    font-size: 14px;   
    display: flex;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}

.header-menu__text-deco {
    margin-top: 5px;
}

.menu__text-deco {
    display: block;
    text-decoration: underline var(--background-yellow);
    color: var(--black5);
    font-size: 25px;
}

.header-menu__place {
    padding-top: 20px;
}

.menu-item {
    display: block;
    width: 100% !important;
}