.header-navbar {
    display: none;
    padding: 0 15px;
}

@media (min-width: 768px) { 
    .header-navbar{
        
    }
}

@media (min-width: 1024px) {
    .header-navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}